# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.wrangler
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.dev.vars

# Test results
test-results/
playwright-report/

# Test artifacts
tests/fixtures/auth.json
tests/fixtures/test-user.json
tests/fixtures/*.json
.wrangler/state/

# Test coverage
coverage/
*.lcov

/server/database/migrations/**
